/* Import CSS (this should all be added to same file in production) */
@import url('./fonts.css');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --yellow1: rgba(255, 255, 0, 1);
  --blue1: rgba(0, 0, 255, 1);
}

/* General Styling */
* {
	box-sizing: border-box;
  font-family: 'GT Ultra Standard', sans-serif;
	color: var(--yellow1)
}

html {
  background-color: var(--blue1);
}

body {
  background-color: var(--blue1);
}

.disable-transitions-onload {
  transition: none !important;
}

/* Main Page Styling */
#main-container {
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400rem;
	/* Margin for wave */
	margin-bottom: 7rem;
}

/* Home Container */
#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
	/* border: 1px solid red; */
}

#home-container h1 {
	padding: 0rem 3rem;
  font-family: 'GT Ultra Median', sans-serif;
	text-align: center;
  font-size: 8rem;
	/* border: 1px solid green; */
}

#home-container h3 {
	padding: 0rem 3rem;
	margin-top: 0.5rem;
	color: white;
  font-size: 2rem;
	text-align: center;
	line-height: 2.25rem; /* Font size + space between each line */
	font-family: 'GT Light Median', sans-serif;
	/* border: 1px solid black; */
}

/* Scroll Container */
#scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25vh;
}

#scroll-container span {
  font-family: 'GT Light Median', sans-serif;
  font-size: 1rem;
  color: white;
	color: var(--yellow1);
}

.scroll-inner-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 21vh;
}

.scroll-inner-container > div {
	width: 50%;
}

.scroll-inner-container :last-child {
	border-left: 0.5px solid var(--yellow1);
}

/* Image Container */
#image-container {
	position: relative;
	width: 100%;
	height: 200vh;
	border: 1px solid red;
}

#image-container img {
	width: 20rem;
	height: 10rem;
	filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

#image-container img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

#image-container :nth-child(1) {
	position: absolute;
	top: 10vh;
	left: 20vw;
	width: 35rem;
	height: 20rem;
}

#image-container :nth-child(2) {
	position: absolute;
	top: 30vh;
	left: 40vw;
	width: 15rem;
	height: 25rem;
}

#image-container :nth-child(3) {
	position: absolute;
	top: 60vh;
	left: 25vh;
	width: 30rem;
	height: 15rem;
}

#image-container :nth-child(4) {
	position: absolute;
	top: 40vh;
	left: 50vw;
	width: 30rem;
	height: 15rem;
}

/* Wave at bottom of main container */
.bottom-wave {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.bottom-wave svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 1.5rem;
}

.bottom-wave .wave-fill {
  fill: var(--blue1);
}

/* Footer Styling */
#footer-container {
	position: fixed;
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	padding: 10rem 3rem 2.5rem 3rem;
	margin-top: auto;
	background-color: var(--yellow1);
	z-index: -1;
}

#footer-container span {
	font-size: 0.75rem;
	font-family: 'GT Light Median';
	text-transform: uppercase;
	color: var(--blue1);
	cursor: pointer;
}

.footer-left {
	justify-self: start;
}

.footer-center {
	justify-self: center;
}

.footer-right {
	justify-self: end;
}

.footer-center span,
.footer-right span {
	padding-left: 0.25rem;
	padding-right: 0.5rem;
	border-right: 1px solid var(--blue1);
}

.footer-center :last-child ,
.footer-right :last-child {
	padding-right: 0;
	border-right: none;
}

.footer-center :first-child ,
.footer-right :first-child {
	padding-left: 0;
}

/* Logo Styling */
#logo-container {
	position: fixed;
  top: 2rem;
  left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
	z-index: 200;
}

#logo-container span {
	color: var(--yellow1);
	font-size: 0.9rem;
	font-family: 'GT Ultra Fine';
	animation: 0.8s linear logo-blue-to-yellow;
}

#logo-container.show-menu span {
	color: var(--blue1);
	animation: 0.3s linear logo-yellow-to-blue;
}

@keyframes logo-yellow-to-blue {
  0% { color: var(--yellow1); }
  100% { color: var(--blue1); }
}

@keyframes logo-blue-to-yellow {
  0% { color: var(--blue1); }
  100% { color: var(--yellow1); }
}

/* Menu Icon Styling */
#menu-toggle {
	position: fixed;
  top: 2.25rem;
  right: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.9rem;
  width: 1.9rem;
	cursor: pointer;
	z-index: 200;
}

#menu-toggle .menu-bar {
  height: 0.2rem;
  width: 100%;
  background-color: var(--yellow1);
  transition: all 800ms ease-in-out;
}

#menu-toggle .menu-selected {
  transition: all 200ms ease-in-out;
  background-color: var(--blue1);
  transform-origin: top left;
}

#menu-toggle .menu-selected:nth-of-type(1) {
  transition: all 500ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 2.45rem;
}

#menu-toggle .menu-selected:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

#menu-toggle .menu-selected:nth-of-type(3) {
  transition: all 500ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 2.45rem;
}

/* Menu Styling */
#menu-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -100vh;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--yellow1);
	z-index: 100;
	transition: all 750ms ease-in-out;
}

#menu-container.show-menu {
	position: fixed;
	top: 0;
	left: 0;
	transition: all 750ms ease-in-out;
}

/* Menu Media Styling */
.media-links-container {
	position: absolute;
	top: 75vh;
	left: 50vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.media-links-container div {
	position: relative;
	margin-bottom: 0.75rem;
	cursor: pointer;
}

.media-links-container div a {
	color: var(--blue1);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	font-family: 'GT Light Median', sans-serif;
}

/* Media Links Underline Styling */
.fade-underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.fade-underline:after {
  display: block;
  content: '';
  border-bottom: 1px solid var(--blue1);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%
}

.fade-underline:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
